.card2 {
  background-color: rgb(10, 25, 47);
  border: 0.5vmin solid black;
  cursor: pointer;
  position: relative;
  width: 56vmin;
  height: 56vmin;
  border-radius: 10%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.card2:before {
  background: linear-gradient(
    130deg,
    transparent 0% 20%, 
    rgb(10, 25, 80) 44% 60%,
    rgb(100, 255, 218) 60% 100%
    
  );
  background-size: 300% 300%;
  background-position: 0% 0%;
  content: "";
  height: 100%;
  position: absolute;
  transition: background-position 1000ms ease-in-out;
  width: 100%;
  border-radius: 10%;
  transform: scale(1.02);
}

.card2:hover::before {
  background-position: 100% 100%;
  transition: 1000ms ease-in-out;
}


.card2:hover .first_row_card2 {
  transform: translateX(100%);
}

.card2:hover .second_row_card2 {
  transform: translateX(-100%);
}

.card2:hover .third_row_card2 {
  transform: translateX(100%);
}

.first_row_card2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  background-color: transparent;
  left: -100%;
  transition: all 0.8s 0.2s;
}

.second_row_card2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  background-color: transparent;
  right: -100%;
  transition: all 0.8s 0.3s;
}

.third_row_card2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  left: -100%;
  transition: all 0.8s 0.4s;
}

.backend_text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgb(100, 255, 218);
  font-size: 2.5vmin;
  font-weight: 600;
  font-size: xx-large;
  transition: opacity 0.3s 0.5s;
}

.card2:hover .backend_text {
  opacity: 0;
}

.card2:hover .element {
  opacity: 1;
}


.element {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
